/*
body bgcolor="#ffffff" link="#000099" alink="#000099" vlink="#000099"
font face="verdana, helvetica, sans-serif" size="2" color="#333333" */
body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    color: #333333;
}
li {
    margin-bottom: 0.3em;
}
