
.manage-developsitelinks {
    font-size:10pt;
}
.manage-developsitelinks-wrapper {
    background-color:#f0f0f0;
    padding:1em;
}
.manage-developsitelinks-container {
    width: 700px;    /* manage-developsitelinks-cell x 5 */
    display: table;
    padding-bottom: 25px;
}
.manage-developsitelinks a {
    color: #4b84cb;
    text-decoration:none;
}
.manage-developsitelinks a:hover {
    color: #335a8a;
    /*text-decoration:underline;*/
}
.manage-developsitelinks h3 {
    font-size: 14px;
    display: block;
    font-weight: normal;
    margin: 0px;
    padding: 0 0 6px 0; /* font-size * 0.4 */
}
.manage-developsitelinks span {
    clear:left;
}
.manage-developsitelinks-cell {
    display: block;
    width: 140px;
    height: 100px;
    float: left;
    border-collapse: collapse;
}
#manage-developsitelinks-portalurl {
    padding: 2px 3px;
}
.manage-developsitelinks-container .configlets {
    float: left;
    list-style: outside none none;
    margin-left: 0;
    margin-right: 0;
    width: 220px; /* ~700/3 */
    padding-left: 14px;
}
.manage-developsitelinks-cell a {
    display:block;
    display:table-cell;
    width:inherit;
    height:inherit;

    margin-left:1em;
    margin-bottom:4px;
    padding: 2px 2px 2px 2px;

    border-width: 1px;
    border-style: solid;
    border-color: #aaaaaa;
    text-align:center;
    vertical-align:middle;

    /* base font-size em */
    font-size: 14px;
}
.manage-developsitelinks-cell a:hover {
    /*border-left:2px solid #555555;*/
    /*border:2px solid #555555;*/
    background-color:#e0e0e0;
}
