
.manage-developsitelinks {
    font-size:10pt;
}
.manage-developsitelinks-wrapper {
    background-color:#f0f0f0;
    padding:1em;
}
.manage-developsitelinks-container {
    width: 60em;    /* manage-developsitelinks-cell x 6 */
    display: table;
    padding-bottom: 2em;
}
.manage-developsitelinks a {
    color: #4b84cb;
    text-decoration:none;
}
.manage-developsitelinks a:hover {
    color: #335a8a;
    /*text-decoration:underline;*/
}
.manage-developsitelinks h3 {
    font-size:12pt;
    padding-top:1em;
    display:block;
    font-weight: normal;
    margin:0px;
    padding:0 0 0.5em 0;
}
.manage-developsitelinks span {
    clear:left;
}
.manage-developsitelinks-cell {
    display:block;
    width:10em;
    height:10em;
    float:left;
    border-collapse:collapse;
}
#manage-developsitelinks-portalurl {
    padding: 2px 3px;
}
.manage-developsitelinks-container .configlets {
    float: left;
    list-style: outside none none;
    margin-left: 0;
    margin-right: 0;
    width: 19em; /* ~60/3 */
    padding-left:1em;
}
.manage-developsitelinks-cell a {
    display:block;
    display:table-cell;
    width:inherit;
    height:inherit;

    margin-left:1em;
    margin-bottom:4px;
    padding-left:2px;
    padding-top:2px;
    padding-bottom:2px;

    /*border-bottom:2px solid #aaaaaa;*/
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    border-color: #aaaaaa;
    text-align:center;
    vertical-align:middle;

    font-size: 12pt;
}
.manage-developsitelinks-cell a:hover {
    /*border-left:2px solid #555555;*/
    /*border:2px solid #555555;*/
    background-color:#e0e0e0;
}
